
html,
body,
header,
.view {
  height: 100%;
}

#propic{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  filter: brightness(80%);
  opacity: 0.5;
}

body {
  background-color:rgb(58, 58, 66);
  padding: 20px;
  font-family: serif;
  color: white;
}

.navbar{
  background-color: black;
}

.greeting{
    padding: 20px;
    float: right;
    font: Comic Sans MS;
}



.footer {  
  background-color: darkslategrey;
  color: white;
  font-family: sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

